.list-group {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

.list-group__btn {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background: transparent;
    border: none;
    outline: none;
    border-top: 1px solid #434343;
    border-bottom: 1px solid #434343;
    font-size: 16px;
    padding: 20px 0;
    cursor: pointer;
    transition: all 200ms;
}
.list-group__btn:hover {
    background: #434343;
    transition: all 200ms;
}
.list-group__item-name, .list-group__item-arrow, .list-chats__item {
    color: white;
}
.list-group__item-name {margin-left: 30px; position: relative}
.list-group__item-arrow {margin-right: 20px;}
.list-group__item-arrow {
    transform: rotateZ(180deg);
}
.list-group__item-name::before {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 30px;
    background: white;
    position: absolute;
    top: 5px;
    left: -20px;
}
.list-chats {
    margin: 0;
    padding: 15px 25px 15px 40px;
    border-radius: 15px;
    box-sizing: border-box;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.list-chats__item {
    padding: 4px 8px;
    box-sizing: border-box;
    border-radius: 15px;
    background: transparent;
    width: 100%;
    position: relative;
    transition: all 500ms;
    cursor: pointer;
}
.list-chats__item:hover {
    background: #8f0def;
    transition: all 500ms;
}
.list-chats__item:hover .list-chats__count-mess {color: #8f0def;transition: all 500ms;}
.list-chats__count-mess {
    position: absolute;
    right: 0;
    top: 5px;
    padding: 2px 12px;
    box-sizing: border-box;
    color: #434343;
    width: fit-content;
    background: white;
    font-size: 12px;
    border-radius: 25px;
    margin-right: 8px;
    transition: all 500ms;
}