.main {
    border-radius: 15px;
    position: relative;
    background-color: #313131;
    height: 520px;
}
.main-place__chats {
    display: flex;
    background-color: #161616;
    border: 1px solid #313131;
}