.main {
    border-radius: 15px;
    position: relative;
    transform: translate(0%, 25%);
    background-color: #313131;
    height: 520px;
}
.main-place__chats {
    display: flex;
    justify-content: flex-end;
    background-color: #161616;
    flex-direction: column;
    align-items: end;
}