.main {
    border-radius: 15px;
    position: relative;
    transform: translate(0%, 25%);
    background-color: #313131;
    max-height: 520px;
    height: 100%;
}
.main-place__chats {
    display: flex;
    justify-content: flex-end;
}