/* START GETSTARTED PAGES */
@import 'src/app/styles/variables';

.start {
  height: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  background: $main-color-gray-light;
  padding: 0;
  border-radius: 25px;

  &-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    align-items: flex-start;
    width: 50%;
    padding: 120px;
    box-sizing: border-box;

    &__heading {
      color: $main-color-white;
      font-size: 18px;
      font-weight: 600;
      margin: 0;


      &::before {
        content: url("../../shareds/assets/img/users.svg");
        position: relative;
        top: 10px;
        margin-right: 15px;
      }
    }

    &__h1 {
      color: $main-color-white;
      font-size: 40px;
      margin: 30px 0 0 0;
    }
    &__des {
      color: $main-color-white;
      font-size: 18px;
      margin: 15px 0 0 0;
    }
    &__btn {
      margin: 40px 0 0 0;
    }
  }

  &-image {
    width: 50%;
    background: $main-color-black;
    box-sizing: border-box;
    padding: 50px;
    border-radius: 25px;
    margin: 2px;

    &__back {
      background-image: url("../../shareds/assets/img/getStarted.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      display: block;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      padding: 50px;
    }
  }
}

/* END GETSTARTED PAGES */