.top-bar {
    padding: 16px 24px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 2px solid #313131;
}
.top-bar__user {
    color: #ffffff;
    font-size: 20px;
    line-height: 24px;
    position: relative;
}
.top-bar__user::after {
    content: '';
    display: block;
    fill: #ffffff;
    background-color: #ffffff;
    width: 12px;
    height: 12px;
    border-radius: 30px;
    position: absolute;
    right: -25px;
    top: 7px;
}



