@import './imports';

body {
  font-family: "Calibri Light";
}

.container {
  width: 100%;
  max-width: 1240px;
  padding: 0 20px;
}
.main {
  display: flex;
  width: 100%;
  overflow: auto;
  height: 100%;
  padding: 0;
}
.page-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
}



/* START NAVIGATION WIDGET */
.nav {
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  padding: 60px 30px 0 30px;
  gap: 30px;
  background-color: rgb(49, 49, 49);

  &-item__btn {
    background: transparent;
    border: 0;
    outline: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 300ms;

    &:hover &-svg {
      fill: rgb(143, 13, 239);
      transition: all 300ms;
    }
  }
}
/* END NAVIGATION WIDGET */



/* START SEARCH WIDGET */
.search {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
  background: rgb(143, 13, 239);

  &-selector {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
    cursor: pointer;
    min-width: 225px;
    transition: all 300ms;

    &__heading {
      color: white;
      font-weight: bold;
    }

    &:hover &__svg {
      transform: rotateX(180deg);
      transition: all 300ms;
    }
  }

  &-form {
    width: 100%;
    padding-left: 20px;
    position: relative;

    &__inpt {
      display: flex;
      align-items: center;
      height: 46px;
      width: 100%;
      overflow: hidden;
      opacity: 1;
      outline: none;
      background-color: rgb(49, 49, 49);
      border-radius: 24px;
      box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px;
      border: 0px;
      padding-left: 50px;
      box-sizing: border-box;
      color: rgb(186, 186, 186);
      font-weight: 300;
      font-size: 14px;
      letter-spacing: 0px;
      text-align: left;
      text-transform: none;
    }
    &__btn {
      position: absolute;
      top: 15px;
      left: 35px;
      background: transparent;
      border: none;
      outline: none;
    }
  }
}
/* END SEARCH WIDGET */