@import './variables';
@import './imports';


body {
  font-family: "Calibri Light";
}

.container {
  width: 100%;
  max-width: 1240px;
  padding: 0 20px;
}
.main {
  display: flex;
  width: 100%;
  overflow: auto;
  //height: 100%;
  padding: 0;
  height: 700px;
}
.page-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
}



/* START NAVIGATION WIDGET */
.nav {
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  padding: 60px 30px 0 30px;
  gap: 30px;
  background-color: $main-color-gray;

  &-item__btn {
    background: transparent;
    border: 0;
    outline: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 300ms;

    &:hover &-svg {
      fill: $main-color-purple;
      transition: all 300ms;
    }
  }
}
/* END NAVIGATION WIDGET */



/* START SEARCH WIDGET */
.search {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 10px 20px;
  box-sizing: border-box;
  background: $main-color-purple;

  &-selector {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
    cursor: pointer;
    min-width: 205px;
    transition: all 300ms;

    &__heading {
      color: $main-color-white;
      font-weight: bold;
    }

    &:hover &__svg {
      transform: rotateZ(180deg);
      transition: all 300ms;
    }
  }

  &-form {
    width: 100%;
    padding-left: 20px;
    position: relative;

    &__inpt {
      display: flex;
      align-items: center;
      height: 46px;
      width: 100%;
      overflow: hidden;
      opacity: 1;
      outline: none;
      background-color: $main-color-gray;
      border-radius: 24px;
      box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px;
      border: 0px;
      padding-left: 50px;
      box-sizing: border-box;
      color: rgb(186, 186, 186);
      font-weight: 300;
      font-size: 14px;
      letter-spacing: 0px;
      text-align: left;
      text-transform: none;
    }
    &__btn {
      position: absolute;
      top: 15px;
      left: 35px;
      background: transparent;
      border: none;
      outline: none;
      cursor: pointer;
    }
  }
}
/* END SEARCH WIDGET */

/* START WRAPPER CHAT */
.chat-wrapper {
  display: flex;
  justify-content: flex-start;
  height: 100%;
}
/* END WRAPPER CHAT */


/* START CHAT NAVIGATION */
.nav-chats {
  display: flex;
  flex-direction: column;
  min-width: 225px;
  background: $main-color-gray;

  &__heading {
    padding: 20px;
    box-sizing: border-box;
    color: $main-color-white;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
}
.chat-list {
  margin: 0;
  list-style-type: none;
  padding: 0;
  height: fit-content;
  width: 100%;

  &__item {


    &-btn {
      background: transparent;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid $main-color-gray-light;
      border-top: 1px solid $main-color-gray-light;
      border-right: none;
      border-left: none;
      width: 100%;
      text-align: left;
      padding: 15px 20px 15px 40px;
      color: $main-color-white;
      box-sizing: border-box;
      position: relative;
      transition: all 300ms;
      cursor: pointer;

      &-name {
        color: $main-color-white;
        font-weight: bold;
      }

      &::after {
        content: '';
        display: block;
        width: 7px;
        height: 7px;
        position: absolute;
        background: $main-color-white;
        border-radius: 24px;
        top: 20px;
        left: 20px;
      }
    }
  }
}

.list-chats {
  margin: 0;
  padding: 0;
  list-style-type: none;

  &__item {
    padding: 15px 20px 15px 40px;
    box-sizing: border-box;
    transition: all 500ms;

    &:hover {
      background: $main-color-purple;
      transition: all 500ms;
      cursor: pointer;
    }

    &-link {
      display: flex;
      justify-content: space-between;
      text-decoration: none;
    }

    &-name {
      color: $main-color-white;
    }

    &-count {
      display: block;
      border-radius: 15px;
      background: $main-color-white;
      width: fit-content;
      padding: 0 12px;
      box-sizing: border-box;
    }
  }
}
/* END CHAT NAVIGATION */

.place-chat-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

/* START TOP BAR ACTIVE USER */
.top-bar {
  width: 100%;
  height: fit-content;
  display: flex;
  padding: 20px 15px 20px 30px;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  background: $main-color-black;
  border-bottom: 1px solid $main-color-gray;

  &__user {
    color: $main-color-white;
    font-weight: 400;
    font-size: 24px;
    position: relative;

    &::after {
      content: '';
      display: block;
      width: 15px;
      height: 15px;
      background: $main-color-white;
      position: absolute;
      top: 8px;
      right: -40px;
      border-radius: 24px;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
  }
}
/* END TOP BAR ACTIVE USER */


/* START ENTITIES PHONE CALL */
.phone-call {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
/* END ENTITIES PHONE CALL */

/* START ENTITIES PHONE CALL */
.video-call {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
/* END ENTITIES PHONE CALL */

.place-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

/* START USER ACTIVE CART */
.user{
  height: 100%;
  min-width: 280px;
  display: flex;
  box-sizing: border-box;
  position: relative;
  flex-direction: column;
  padding: 40px 15px 20px 20px;
  border-left: 1px solid $main-color-gray;
  background: $main-color-black;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;

  &-wrapper {
    display: flex;
    gap: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__close {
    position: absolute;
    padding: 0;
    top: 20px;
    right: 15px;
    background: transparent;
    border: none;
    outline: none;
    margin: 0;
    cursor: pointer;
    &-svg {
      margin: 0;
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    &-btn {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      width: 30px;
      height: 30px;
      border: none;
      outline: none;
      border-radius: 30px;
      background-color: $main-color-purple;
    }
  }

  &__info {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    &-item {
      display: flex;
      justify-content: space-between;
      width: 100%;

      &-name, &-val {
        font-size: 14px;
        color: $main-color-white;
      }

    }
  }

}
/* END USER ACTIVE CART */


/* START USER PHOTO PROFILE ENTITIES */
.user-image {
  background-image: url("./shared/assets/img/user1.png");
  width: 150px;
  height: 150px;
  background-repeat: no-repeat;
  background-size: cover;
}
/* END USER PHOTO PROFILE ENTITIES */


/* START USER NETWORK STATUS ENTITIES */
.user-net-status {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  &__marker {
    display: block;
    width: 7px;
    height: 7px;
    background: $main-color-white;
    border-radius: 24px;
  }
  &__des {
    color: $main-color-white;
  }


}
/* END USER NETWORK STATUS ENTITIES */


/* START USER NAME ENTITIES */
.user-name {
  color: $main-color-white;
  font-weight: 400;
  font-size: 24px;
}
/* END USER NAME ENTITIES */

/* START CHAT WIDGET */
.chat {
  background-color: $main-color-black;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
/* END CHAT WIDGET */

/* START INPUT BAR FEATURES */
.form {
  width: 100%;
  border: 1px solid $main-color-gray;
  border-radius: 17px;

  &__bottom-bar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px 15px;
    box-sizing: border-box;
  }

  &__textarea {
    width: 100%;
    background: transparent;
    color: $main-color-white;
    resize: none;
    border: none;
    outline: none;
    padding: 20px 20px 10px 20px;
    box-sizing: border-box;
    border-bottom: 1px solid $main-color-gray;
    margin: 0;
    min-height: 80px;
  }
}

.bottom-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;

  &__btn {
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    cursor: pointer;
  }
}
/* END INPUT BAR FEATURES */