@import './variables';
@import './imports';


body {
  font-family: "Calibri Light";
  background: black;
}

.container {
  width: 100%;
  max-width: 1240px;
  padding: 0 20px;
  border-radius: 25px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.main {
  display: flex;
  width: 100%;
  overflow: auto;
  //height: 100%;
  padding: 0;
  height: 600px;
}
.page-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  background-color: $main-color-black;
}



/* START NAVIGATION WIDGET */
.nav {
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  padding: 60px 30px 0 30px;
  gap: 30px;
  background-color: $main-color-gray;

  &-item__btn {
    background: transparent;
    border: 0;
    outline: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 300ms;

    &-pending &-svg {
      fill: yellow;
      transition: all 300ms;
    }

    &-active &-svg {
      fill: $main-color-purple;
      transition: all 300ms;
    }
  }
}
/* END NAVIGATION WIDGET */



/* START SEARCH WIDGET */
.search {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 10px 20px;
  box-sizing: border-box;
  background: $main-color-purple;

  &-selector {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
    cursor: pointer;
    min-width: 205px;
    transition: all 300ms;

    &__heading {
      color: $main-color-white;
      font-weight: bold;
    }

    &:hover &__svg {
      transform: rotateZ(180deg);
      transition: all 300ms;
    }
  }

  &-form {
    width: 100%;
    padding-left: 20px;
    position: relative;

    &__inpt {
      display: flex;
      align-items: center;
      height: 46px;
      width: 100%;
      overflow: hidden;
      opacity: 1;
      outline: none;
      background-color: $main-color-gray;
      border-radius: 24px;
      box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px;
      border: 0px;
      padding-left: 50px;
      box-sizing: border-box;
      color: rgb(186, 186, 186);
      font-weight: 300;
      font-size: 14px;
      letter-spacing: 0px;
      text-align: left;
      text-transform: none;
    }
    &__btn {
      position: absolute;
      top: 15px;
      left: 35px;
      background: transparent;
      border: none;
      outline: none;
      cursor: pointer;
    }
  }
}
/* END SEARCH WIDGET */

/* START WRAPPER CHAT */
.chat-wrapper {
  display: flex;
  justify-content: flex-start;
  height: 100%;
}
/* END WRAPPER CHAT */


/* START CHAT NAVIGATION */
.nav-chats {
  display: flex;
  flex-direction: column;
  min-width: 225px;
  background: $main-color-gray;

  &__heading {
    padding: 20px;
    box-sizing: border-box;
    color: $main-color-white;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
}
.chat-list {
  margin: 0;
  list-style-type: none;
  padding: 0;
  height: fit-content;
  width: 100%;

  &__item {


    &-btn {
      background: transparent;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid $main-color-gray-light;
      border-top: 1px solid $main-color-gray-light;
      border-right: none;
      border-left: none;
      width: 100%;
      text-align: left;
      padding: 15px 20px 15px 40px;
      color: $main-color-white;
      box-sizing: border-box;
      position: relative;
      transition: all 300ms;
      cursor: pointer;

      &-name {
        color: $main-color-white;
        font-weight: bold;
      }

      &::after {
        content: '';
        display: block;
        width: 7px;
        height: 7px;
        position: absolute;
        background: $main-color-white;
        border-radius: 24px;
        top: 20px;
        left: 20px;
      }
    }
  }
}

.list-chats {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: auto;
  height: 146px;

  &__item {
    &-link {
      padding: 15px 20px 15px 40px;
      box-sizing: border-box;
      transition: all 500ms;
    }

    &-link-pending {
      padding: 15px 20px 15px 40px;
      box-sizing: border-box;
      transition: all 500ms;
      text-decoration: none;
      width: 100%;
      height: 100%;
      display: flex;
      background: $main-color-white;
      cursor: pointer;
    }

    &-link-active {
      padding: 15px 20px 15px 40px;
      box-sizing: border-box;
      transition: all 500ms;
      text-decoration: none;
      width: 100%;
      height: 100%;
      display: flex;
      background: $main-color-purple;
      cursor: pointer;
    }

    &-link {
      display: flex;
      justify-content: space-between;
      text-decoration: none;
    }

    &-name {
      color: $main-color-white;
    }

    &-count {
      display: block;
      border-radius: 15px;
      background: $main-color-white;
      width: fit-content;
      padding: 0 12px;
      box-sizing: border-box;
    }
  }
}
/* END CHAT NAVIGATION */

.place-chat-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

/* START TOP BAR ACTIVE USER */
.top-bar {
  width: 100%;
  height: fit-content;
  display: flex;
  padding: 20px 15px 20px 30px;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  background: $main-color-black;
  border-bottom: 1px solid $main-color-gray;

  &__user {
    color: $main-color-white;
    font-weight: 400;
    font-size: 24px;
    position: relative;

    &::after {
      content: '';
      display: block;
      width: 15px;
      height: 15px;
      background: $main-color-white;
      position: absolute;
      top: 8px;
      right: -40px;
      border-radius: 24px;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
  }
}
/* END TOP BAR ACTIVE USER */


/* START ENTITIES PHONE CALL */
.phone-call {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
/* END ENTITIES PHONE CALL */

/* START ENTITIES PHONE CALL */
.video-call {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
/* END ENTITIES PHONE CALL */

.place-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

/* START USER ACTIVE CART */
.user{
  height: 100%;
  min-width: 280px;
  display: flex;
  box-sizing: border-box;
  position: relative;
  flex-direction: column;
  padding: 40px 15px 20px 20px;
  border-left: 1px solid $main-color-gray;
  background: $main-color-black;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;

  &-wrapper {
    display: flex;
    gap: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__close {
    position: absolute;
    padding: 0;
    top: 20px;
    right: 15px;
    background: transparent;
    border: none;
    outline: none;
    margin: 0;
    cursor: pointer;
    &-svg {
      margin: 0;
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    &-btn {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      width: 30px;
      height: 30px;
      border: none;
      outline: none;
      border-radius: 30px;
      background-color: $main-color-purple;
    }
  }

  &__info {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    &-item {
      display: flex;
      justify-content: space-between;
      width: 100%;

      &-name, &-val {
        font-size: 14px;
        color: $main-color-white;
      }

    }
  }

}
/* END USER ACTIVE CART */


/* START USER PHOTO PROFILE ENTITIES */
.user-image {
  background-image: url("./shared/assets/img/user1.png");
  width: 150px;
  height: 150px;
  background-repeat: no-repeat;
  background-size: cover;
}
/* END USER PHOTO PROFILE ENTITIES */


/* START USER NETWORK STATUS ENTITIES */
.user-net-status {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  &__marker {
    display: block;
    width: 7px;
    height: 7px;
    background: $main-color-white;
    border-radius: 24px;
  }
  &__des {
    color: $main-color-white;
  }


}
/* END USER NETWORK STATUS ENTITIES */


/* START USER NAME ENTITIES */
.user-name {
  color: $main-color-white;
  font-weight: 400;
  font-size: 24px;
}
/* END USER NAME ENTITIES */

/* START CHAT WIDGET */
.chat {
  background-color: $main-color-black;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.message__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-height: 365px;
  height: 100%;
  overflow: auto;
  -ms-overflow-style: none;  /* IE 10+ */
  scrollbar-width: none; /* Firefox */
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.message {
  display: flex;
  width: 100%;
  height: fit-content;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  transition: all 300ms ease;



  &__img-prof {
    background-image: url('./shared/assets/img/user1.png');
    min-width: 40px;
    min-height: 40px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
    width: 100%;


    &-head {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;

      &-name, &-time {

        color: $main-color-white;
        text-decoration: none;
        font-size: 18px;
      }
    }

    &-text {
      padding: 0 0 20px 0;
      box-sizing: border-box;
      margin: 0;
      list-style-type: none;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 10px;
      width: 100%;


      &-item {
        display: flex;
        justify-content: space-between;
        width: 100%;


        &-p {
          color: $main-color-white;
          width: 80%;
          word-wrap: anywhere;
        }

        &-time {
          color: $main-color-gray-light;
          display: none;
          transition: all 300ms ease
        }

        &:hover &-time {display: block;transition: all 300ms ease}
      }
    }
  }
}

/* END CHAT WIDGET */

/* START INPUT BAR FEATURES */
.form {
  width: 100%;
  border: 1px solid $main-color-gray;
  border-radius: 17px;

  &__bottom-bar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px 15px;
    box-sizing: border-box;
  }

  &__textarea {
    width: 100%;
    background: transparent;
    color: $main-color-white;
    resize: none;
    border: none;
    outline: none;
    padding: 20px 20px 10px 20px;
    box-sizing: border-box;
    border-bottom: 1px solid $main-color-gray;
    margin: 0;
    min-height: 80px;
  }
}

.bottom-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;

  &__btn {
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    cursor: pointer;
  }
}
/* END INPUT BAR FEATURES */


/* START PLACE HOLDER */
.place-holder-for-chat {
  width: 100%;
  height: 100%;
  background: $main-color-black;
  display: flex;
  justify-content: center;
  align-items: center;
  &__sp {
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
    color: $main-color-gray-light;
    border-bottom: 1px dashed $main-color-gray-light;
  }
}

/* END PLACE HOLDER */


/* START GETSTARTED PAGES */

.start {
  height: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  background: $main-color-gray-light;
  padding: 0;
  border-radius: 25px;

  &-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    align-items: flex-start;
    width: 50%;
    padding: 120px;
    box-sizing: border-box;

    &__heading {
      color: $main-color-white;
      font-size: 18px;
      font-weight: 600;
      margin: 0;


      &::before {
        content: url("../src/shared/assets/img/users.svg");
        position: relative;
        top: 10px;
        margin-right: 15px;
      }
    }

    &__h1 {
      color: $main-color-white;
      font-size: 40px;
      margin: 30px 0 0 0;
    }
    &__des {
      color: $main-color-white;
      font-size: 18px;
      margin: 15px 0 0 0;
    }
    &__btn {
      margin: 40px 0 0 0;
    }
  }

  &-image {
    width: 50%;
    background: $main-color-black;
    box-sizing: border-box;
    padding: 50px;
    border-radius: 25px;
    margin: 2px;

    &__back {
      background-image: url("../src/shared/assets/img/getStarted.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      display: block;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      padding: 50px;
    }
  }
}

/* END GETSTARTED PAGES */


/* START LOG IN PAGES */
.sing{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;

  &__h1 {
    margin: 0;
    font-size: 30px;
    color: $main-color-white;

    &::before {
      content: url("../src/shared/assets/img/users.svg");
      position: relative;
      top: 10px;
      margin-right: 15px;
    }
  }

  &__sp {
    margin: 40px 0 0 0;
    color: $main-color-white;
    font-size: 24px;
  }

  &__email, &__pass {
    margin: 20px 0 0 0;
    width: 70%;
    display: flex;
    align-items: center;
    height: 46px;
    overflow: hidden;
    opacity: 1;
    outline: none;
    background-color: rgb(49, 49, 49);
    border-radius: 24px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px;
    border: 0px;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
    color: rgb(186, 186, 186);
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0px;
    text-align: left;
    text-transform: none;
  }
  &__pass{
    margin-bottom: 20px;
  }


  &__new {
    color: $main-color-white;
    font-size: 20px;
    margin-top: 20px;

    &-link {
      margin-left: 5px;
      text-decoration: none;
      color: $main-color-purple;
    }
  }

}
/* END LOG IN PAGES */


.profile-job-title {
  color: $main-color-white;
  margin: 0;
  text-align: left;
  width: fit-content;
  font-size: 12px;
  font-weight: 600;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}
.profile-stats-header {
  font-size: 24px;
  font-weight: 500;
  color: $main-color-white;
}



/* START PROFILE PAGES */
.profile {
  padding: 40px 30px;
  box-sizing: border-box;
  height: 100%;

  &-info{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
    max-width: 410px;
    width: 100%;

    &__data{
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: flex-start;
      gap: 10px;
      width: 100%;
    }
  }

  &-stats {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    border: 10px solid $main-color-gray;
    border-radius: 15px;
    padding: 10px 20px;
    box-sizing: border-box;

    &-item{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      gap: 10px;

      &__count{
        color: $main-color-white;
        font-size: 20px;
      }

      &__des {
        color: $main-color-white;
        font-size: 12px;
        text-wrap: nowrap;
      }

    }
  }

  &-statistic, &-friends {
    margin-top: 20px;
    max-width: 410px;
    width: 100%;

    &-box {
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
      gap: 10px;
    }

    &-wrapper {
      margin-top: 10px;
      background-color: $main-color-gray;
      width: 100%;
      height: fit-content;
      overflow: auto;
      border-radius: 15px;
      padding: 0 20px 0 10px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
    }

    &-item {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
      height: 100%;
      padding: 10px 0;
      box-sizing: border-box;

      &:not(:last-child) {
        border-bottom: 1px solid $main-color-gray-light;
      }
    }

    &__img {
      max-width: 40px;
      height: 40px;
      border-radius: 30px;
      width: 100%;
    }

  }

}
.statistic-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $main-color-gray;
  width: 130px;
  border-radius: 15px;
  padding: 10px;
  box-sizing: border-box;

  &:hover &__svg {
    background: $main-color-purple;
    transition: all 0.5s;
  }

  &__svg {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    box-sizing: border-box;
    background: $main-color-black;
    border-radius: 15px;
    transition: all 0.5s;
  }
  &__des {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 600;
    color: $main-color-white;
  }
  &__count {
    margin-top: 5px;
    font-size: 18px;
    font-weight: 500;
    color: $main-color-white;
  }
}
/* END PROFILE PAGES */