.box-button {
    display: flex;
    width: fit-content;
    gap: 16px;
    justify-content: center;
    align-items: center;
}
.box-button__butts {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}